[submodule "upstream/deregnet"]
	path = upstream/deregnet
	url = https://github.com/sebwink/deregnet
[submodule "upstream/ndex-graphml"]
	path = upstream/ndex-graphml
	url = https://github.com/sebwink/ndex-graphml
