# coding: utf-8

"""
    DeRegNet REST API

    DeRegNet REST API   # noqa: E501

    OpenAPI spec version: 1.0.0
    Contact: deregnet@informatik.uni-tuebingen.de
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ParameterSetApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_parameter_set(self, parameter_set_id, **kwargs):  # noqa: E501
        """Delete a previously uploaded parameter collection  # noqa: E501

        Deletes a parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parameter_set(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of the parameter collection to be deleted (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_parameter_set_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_parameter_set_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
            return data

    def delete_parameter_set_with_http_info(self, parameter_set_id, **kwargs):  # noqa: E501
        """Delete a previously uploaded parameter collection  # noqa: E501

        Deletes a parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_parameter_set_with_http_info(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of the parameter collection to be deleted (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parameter_set_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_parameter_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parameter_set_id' is set
        if ('parameter_set_id' not in params or
                params['parameter_set_id'] is None):
            raise ValueError("Missing the required parameter `parameter_set_id` when calling `delete_parameter_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parameter_set_id' in params:
            path_params['parameter_set_id'] = params['parameter_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set/{parameter_set_id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parameter_set(self, parameter_set_id, **kwargs):  # noqa: E501
        """Retrieve information on a previously uploaded score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of parameter collection to retrieve information about (required)
        :return: ParameterSetInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parameter_set_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_parameter_set_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
            return data

    def get_parameter_set_with_http_info(self, parameter_set_id, **kwargs):  # noqa: E501
        """Retrieve information on a previously uploaded score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_with_http_info(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of parameter collection to retrieve information about (required)
        :return: ParameterSetInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parameter_set_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parameter_set_id' is set
        if ('parameter_set_id' not in params or
                params['parameter_set_id'] is None):
            raise ValueError("Missing the required parameter `parameter_set_id` when calling `get_parameter_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parameter_set_id' in params:
            path_params['parameter_set_id'] = params['parameter_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set/{parameter_set_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParameterSetInfo',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parameter_set_data(self, parameter_set_id, **kwargs):  # noqa: E501
        """Retrieve a parameter collection  # noqa: E501

        Returns a parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_data(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of the parameter collection to return (required)
        :return: ParameterSet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parameter_set_data_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_parameter_set_data_with_http_info(parameter_set_id, **kwargs)  # noqa: E501
            return data

    def get_parameter_set_data_with_http_info(self, parameter_set_id, **kwargs):  # noqa: E501
        """Retrieve a parameter collection  # noqa: E501

        Returns a parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_data_with_http_info(parameter_set_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str parameter_set_id: ID of the parameter collection to return (required)
        :return: ParameterSet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['parameter_set_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_set_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'parameter_set_id' is set
        if ('parameter_set_id' not in params or
                params['parameter_set_id'] is None):
            raise ValueError("Missing the required parameter `parameter_set_id` when calling `get_parameter_set_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'parameter_set_id' in params:
            path_params['parameter_set_id'] = params['parameter_set_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set/{parameter_set_id}/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParameterSet',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parameter_set_default(self, **kwargs):  # noqa: E501
        """Retrieve the defaul parameter collection  # noqa: E501

        Returns the default parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_default(async=True)
        >>> result = thread.get()

        :param async bool
        :return: ParameterSetInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parameter_set_default_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_parameter_set_default_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_parameter_set_default_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve the defaul parameter collection  # noqa: E501

        Returns the default parameter collection  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_default_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: ParameterSetInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_set_default" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set/default', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParameterSetInfo',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parameter_set_default_data(self, **kwargs):  # noqa: E501
        """Retrieve information on a previously uploaded score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_default_data(async=True)
        >>> result = thread.get()

        :param async bool
        :return: ParameterSet
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parameter_set_default_data_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_parameter_set_default_data_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_parameter_set_default_data_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve information on a previously uploaded score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_set_default_data_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: ParameterSet
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_set_default_data" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set/default/data', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ParameterSet',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_parameter_sets(self, **kwargs):  # noqa: E501
        """List available previously uploaded parameter collections  # noqa: E501

        Returns a list with information about availabel parameter collections  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_sets(async=True)
        >>> result = thread.get()

        :param async bool
        :param str search_string: pass an optional search string for narrowing the list
        :param int skip: number of records to skip for pagination
        :param int limit: maximum number of records to return
        :return: list[ParameterSetInfo]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_parameter_sets_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_parameter_sets_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_parameter_sets_with_http_info(self, **kwargs):  # noqa: E501
        """List available previously uploaded parameter collections  # noqa: E501

        Returns a list with information about availabel parameter collections  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_parameter_sets_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str search_string: pass an optional search string for narrowing the list
        :param int skip: number of records to skip for pagination
        :param int limit: maximum number of records to return
        :return: list[ParameterSetInfo]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search_string', 'skip', 'limit']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_parameter_sets" % key
                )
            params[key] = val
        del params['kwargs']

        if 'skip' in params and params['skip'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `skip` when calling `get_parameter_sets`, must be a value greater than or equal to `0`")  # noqa: E501
        if 'limit' in params and params['limit'] > 50:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_parameter_sets`, must be a value less than or equal to `50`")  # noqa: E501
        if 'limit' in params and params['limit'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_parameter_sets`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'search_string' in params:
            query_params.append(('searchString', params['search_string']))  # noqa: E501
        if 'skip' in params:
            query_params.append(('skip', params['skip']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_sets', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ParameterSetInfo]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_parameter_set(self, body, **kwargs):  # noqa: E501
        """Upload a parameters collection for use with DeRegNet algorithms  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_parameter_set(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ParameterSet body: Parameters to be uploaded for later use with a DeRegNet algorithm (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_parameter_set_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.post_parameter_set_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def post_parameter_set_with_http_info(self, body, **kwargs):  # noqa: E501
        """Upload a parameters collection for use with DeRegNet algorithms  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_parameter_set_with_http_info(body, async=True)
        >>> result = thread.get()

        :param async bool
        :param ParameterSet body: Parameters to be uploaded for later use with a DeRegNet algorithm (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_parameter_set" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_parameter_set`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/parameter_set', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
